<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="SymbolDB.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="SymbolDB.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <applicationSettings>
        <SymbolDB.Properties.Settings>
            <setting name="version" serializeAs="String">
                <value>4.0.0</value>
            </setting>
            <setting name="parmfile" serializeAs="String">
                <value />
            </setting>
            <setting name="value" serializeAs="String">
                <value />
            </setting>
            <setting name="name" serializeAs="String">
                <value />
            </setting>
        </SymbolDB.Properties.Settings>
    </applicationSettings>
    <userSettings>
        <SymbolDB.Properties.Settings>
            <setting name="lastLoadedImageFileList" serializeAs="String">
                <value />
            </setting>
            <setting name="david" serializeAs="String">
                <value>okay</value>
            </setting>
            <setting name="targetNet" serializeAs="String">
                <value />
            </setting>
            <setting name="LastSearchExtension" serializeAs="String">
                <value />
            </setting>
            <setting name="volumeLevel" serializeAs="String">
                <value>33</value>
            </setting>
        </SymbolDB.Properties.Settings>
    </userSettings>
</configuration>